.deps/
.libs/
autom4te.cache/
doxygen/
*.dirstamp
*.la
*.lo
*.o
*.swp
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.h.in~
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

tests/*_test
tests/*.trs
tests/*.log
test-driver
test-suite.log
